<% include head.html %>
</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
    </script>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg0zVKlZkntbnkvaXwek2j2yjE-oq3uvs"
  type="text/javascript" > </script>
    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/ >

    <!-- Custom CSS -->
    <link href="../assets/heroic-features.css" rel="stylesheet" />


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role = "navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#c1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Yelp5</div>
        </div>

        <div class="collapse navbar-collapse" id="c1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse-->
    </div>
    <!-- /.container-->
</nav>

<!-- Location hero feature -->
<div class="row text-center">
    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="https://dummyimage.com/800x500" alt="">
            <div class = "caption">
                <h3>Location</h3>
                <p>Where do you want to eat?</p>
                <p>
                    <form>
                    <input id="geocomplete" type="text" placeholder="Type in an address" autocomplete="off">                                       
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>

    <script src="../assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="../assets/jquery.geocomplete.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/28/7/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/28/7/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/28/7/controls.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/28/7/places_impl.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/28/7/geocoder.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/28/7/stats.js"></script>

<% include footer.html %>